.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: repeat 30px(5,50px);
    
}
.date, .day{
    background-color: aqua;
    border-radius:5px ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.day{
    background-color: cadetblue;
    font-size: 1em;

}